<ion-view view-title="Welcome">
    <ion-content class="padding">
        <h3>Welcome {{iam}}!</h3>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in userdata" type="item-text-wrap" ng-click="openChatHead(user)" ng-hide="imobile === user.mobile">
                <img src="img/face.jpg">
                <h2>{{user.name}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
