<ion-view view-title="{{urname}}" class="chat-head-wrapper">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-android-more-vertical"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="bubbles" ng-repeat="chat in chats" ng-class="whatClassIsIt(chat.name)">
            <!-- <b>{{chat.name}}:</b> -->{{chat.message}}
            <label class="time">{{chat.time | date:"h:mma"}}</label>
        </div>
    </ion-content>
    <ion-footer-bar>
        <label class="item item-input chat-input">
            <input type="text" ng-model="message" placeholder="Type here...">
        </label>
        <button class="button button-clear" ng-click="sendChat(message)"><i class="icon ion-paper-airplane placeholder-icon"></i></button>
    </ion-footer-bar>
</ion-view>
