<ion-view hide-nav-bar="true" class="login-wrapper">
    <ion-content>
        <h4 class="center">Login</h4>
        <form ng-submit="login(userdata)">
            <label class="item item-input">
                <i class="icon ion-ios-telephone placeholder-icon"></i>
                <input type="tel" placeholder="Mobile" ng-model="userdata.mobile" required>
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked placeholder-icon"></i>
                <input type="password" placeholder="Password" ng-model="userdata.password" required>
            </label>
            <label>
                <button class="button button-full button-positive" type="submit">Login</button>
            </label>
        </form>
        <h5 class="center or">or</h5>
        <button class="button button-full button-positive button-outline" ui-sref="register">Register</button>
    </ion-content>
</ion-view>
