<ion-view view-title="Name">
    <ion-content>
        <form ng-submit="startChat(name)">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="name">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Start Chat</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
