<ion-view hide-nav-bar="true" class="register-wrapper">
    <ion-content>
        <div class="logo-wrapper center">
            <img src="img/logo.png">
        </div>
        <!-- <h4 class="center">Register</h4> -->
        <form ng-submit="saveUserData(userdata)">
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Name" ng-model="userdata.name" required>
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-telephone placeholder-icon"></i>
                <input type="tel" placeholder="Mobile" ng-model="userdata.mobile" required>
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked placeholder-icon"></i>
                <input type="password" placeholder="Password" ng-model="userdata.password" required>
            </label>
            <label>
                <button class="button button-full button-positive" type="submit">Register</button>
            </label>
        </form>
        <h5 class="center or">or</h5>
        <button class="button button-full button-positive button-outline" ui-sref="login">Login</button>
    </ion-content>
</ion-view>
